.skills-info-card{
    min-height: 23rem;
    border-radius: .69rem;
    border: 1.5px solid #e5e3ea;
    background: rgba(22, 17, 47, 0.398);
    backdrop-filter: blur(1rem);
}
.skills-info-card h3{
    font-size: 1.2rem;
    font-weight: 500;
    padding: .3rem 2rem;
    background: linear-gradient( 180deg, #ac96ff 0%,#7c5fe6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    border-bottom:1.5px solid #7c5fe6;
    /* height: 1rem; */
}

.skills-info-content{
    padding:0rem  1.3rem;
}
.skill-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem .5rem;
    
}
.skill-info a{
    font-size: 1rem;
    font-weight: 500;
}

.skill-info .percentage{
    color:#bb8cfa ;
}
.skill-progress-bg{
    width:100%;
    height: .5rem;
    background: #382e68;
    border-radius: .5rem;
    margin: 1rem 0;
    overflow:hidden;
    
}
.skill-progress{
    width: 0%;
    height: .5rem;
    background:linear-gradient(90deg, #aa94fe -50%, #7d60e6) 100%;
    border-radius: .5rem;
    transition:all .6s ease-in-out;
}
@media (max-width:1025px){
    .skills-info-card h3{
    font-size: 1.1rem;
    }
    .skill-info a{
        font-size: .9rem;
    }
    .skills-info-content{
        padding: 1.5rem;
    }
}